
body {
    background-color: #1e90ff;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.containeur {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 50, 0.3);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


h1, h2 {
    color: #fff;
}


.question {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    padding: 15px;
    border-radius: 15px;
}


button {
    background-color: #ffffff;
    color: #1e90ff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1c86ee;
    color: white;
}


#resultatdevinette,
#resultattable,
#resultatjusteprix,
#resultatcalculatrice {
    margin-top: 10px;
    font-weight: bold;
}


.grande {
    width : 100%;
}
